/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-footer {
  background-color: lightseagreen;
}

.lightseagreen-text {
  color: lightseagreen;
}

a, body, textarea, .font-white {
  color: white;
}

.line {
  background-color: white;
}

body {
  background-color: #2F4F4F;
}