/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.page-footer {
  background-color: lightseagreen;
}

.lightseagreen-text {
  color: lightseagreen;
}

a, body, textarea, .font-white {
  color: white;
}

.line {
  background-color: white;
}

body {
  background-color: #2F4F4F;
}

.help-header {
  font-weight: bold;
}

.help-text {
  font-size: 16px;
}

#notes-query, .notes-textarea {
  color: black;
}

.modal-content {
  padding: 60px;
}

.modal-footer-fixed {
  width: 100%;
  padding: 1rem;
}

.perfect-grey-color {
  color: #D3D3D3;
}

.trash-color {
  color: #f37373a6;
}

.darkseagreen-color {
  color: darkseagreen;
}